{% extends 'base.html.twig' %}

{% block body %}
    <form id="form-calculator" action="/result" method="POST">
        <label for="expression">Calculator</label>
        <br>
        <input type="text" id="expression" name="expression">
        <br>
        <button id="btn-result">result</button>
    </form>    
{% endblock %}